<div class="col-lg-3 d-lg-block d-none">
    <nav class="pages">
        <ul class="pages-list">
            <li class="pages-item"><a class="pages-link <%- page == 'terms' ? 'active': '' %>" href="terms">Terms & Conditions of Use</a></li>
            <li class="pages-item"><a class="pages-link <%- page == 'privacy' ? 'active': '' %>" href="privacy">Privacy Policy & GDPR</a></li>
            <li class="pages-item"><a class="pages-link <%- page == 'lenderterms' ? 'active': '' %>" href="lenderterms">Lender Terms & eConsent</a></li>
            <li class="pages-item"><a class="pages-link <%- page == 'disclosures' ? 'active': '' %>" href="disclosures">Disclosures</a></li>
            <li class="pages-item"><a class="pages-link <%- page == 'aboutus' ? 'active': '' %>" href="aboutus">About Us</a></li>
        </ul>
    </nav>
</div>
