<!doctype html>
<html lang="en" dir="ltr">
<head prefix="og: http://ogp.me/ns#">
    <base href="/">

    <%- partial('./assets/_meta'); %>
    <%- include('./assets/_scripts'); %>
    <%- include('./assets/_favicons'); %>
</head>
<body style="margin: 0;" class="page-header-fixed lend-space m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default pfm lending-page" ng-version="6.0.7">
    <app-root>
        <router-outlet></router-outlet>
        <ng-component _nghost-c0="" class="pfm-app content-wrapper">
            <%- include('./assets/_header'); %>
            <main _ngcontent-c0="" class="page-content" id="main">
        				<div class="container">
        					<div class="row">
                    <%- include('./assets/_left-side-menu'); %>
        						<div class="col-md-12 col-lg-9">
                        <div class="data-wrap">
                            <%- yield %>
                        </div>
        						</div>
        					</div>
        				</div>
            </main>
            <%- include('./assets/_footer'); %>
        </ng-component>
    </app-root>

    <%- include('./assets/_dialog'); %>
    <%- include('./assets/_google-analitics'); %>
</body>
</html>