<!doctype html>
<html lang="en" dir="ltr">
<head prefix="og: http://ogp.me/ns#">
    <%- partial('./assets/_meta'); %>
    <%- include('./assets/_scripts'); %>
    <%- include('./assets/_favicons'); %>
</head>
<body style="margin: 0;" class="page-header-fixed lend-space m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default pfm lending-page" ng-version="6.0.7">
    <app-root>
        <router-outlet></router-outlet>
        <ng-component _nghost-c0="" class="pfm-app">
            <%- include('./assets/_header'); %>

                <main _ngcontent-c0="" class="page-content" id="main">
                    <div _ngcontent-c0="">
                        <router-outlet _ngcontent-c0=""></router-outlet>
                        <app-lend-space-dark _nghost-c8="">
                            <div _ngcontent-c8="" class="jumbotron jumbotron-fluid d-flex top">
                                <div _ngcontent-c8="" class="container align-self-center">
                                    <h1 _ngcontent-c8="" class="title">It Never Hurts to Check Your Credit Score</h1>
                                    <div _ngcontent-c8="" class="buttons-group d-flex justify-content-between">
                                        <a href="https://app.lendspace.com/personal-finance/sign-up" _ngcontent-c8="" class="btn btn-dark btn-custom"><span _ngcontent-c8="">I want to get a</span><span _ngcontent-c8="">Credit Card</span></a>
                                        <a href="https://app.lendspace.com/personal-finance/sign-up" _ngcontent-c8="" class="btn btn-dark btn-custom"><span _ngcontent-c8="">I want to apply for a</span><span _ngcontent-c8="">Personal Loan</span></a>
                                        <a href="https://app.lendspace.com/personal-finance/sign-up" _ngcontent-c8="" class="btn btn-dark btn-custom"><span _ngcontent-c8="">I want to get my free</span><span _ngcontent-c8="">Credit Score</span></a>
                                    </div>
                                </div>
                            </div>
                            <section _ngcontent-c8="" class="why-us">
                                <div _ngcontent-c8="" class="container">
                                    <h2 _ngcontent-c8="" class="yellow-title">Why You Should Choose Us?</h2>
                                    <ul _ngcontent-c8="" class="list-unstyled d-flex flex-wrap why-list">
                                        <!---->
                                        <li _ngcontent-c8="" class="why-item">
                                            <div _ngcontent-c8="" class="img-wrapper credit-score"></div>
                                            <h3 _ngcontent-c8="">Credit Scores</h3>
                                            <p _ngcontent-c8="">Credit is important. In addition to free credit score, with LendSpace you will be able to see what might be affecting your credit scores and reports.</p>
                                        </li>
                                        <li _ngcontent-c8="" class="why-item">
                                            <div _ngcontent-c8="" class="img-wrapper credit-cards"></div>
                                            <h3 _ngcontent-c8="">Credit Cards</h3>
                                            <p _ngcontent-c8="">Finding the right credit card can help you build your credit and accumulate credit history.</p>
                                        </li>
                                        <li _ngcontent-c8="" class="why-item">
                                            <div _ngcontent-c8="" class="img-wrapper retirement-planning"></div>
                                            <h3 _ngcontent-c8="">Retirement Planning</h3>
                                            <p _ngcontent-c8="">Planning for retirement can be tough. LendSpace gives you access to the tools that will help you plan for your future.</p>
                                        </li>
                                        <li _ngcontent-c8="" class="why-item">
                                            <div _ngcontent-c8="" class="img-wrapper personal-loans"></div>
                                            <h3 _ngcontent-c8="">Personal Loans</h3>
                                            <p _ngcontent-c8="">Sometimes you need money now. Finding the right personal loan can be difficult. We are here to make it easier on you.</p>
                                        </li>
                                        <li _ngcontent-c8="" class="why-item">
                                            <div _ngcontent-c8="" class="img-wrapper business-loans"></div>
                                            <h3 _ngcontent-c8="">Business Loans</h3>
                                            <p _ngcontent-c8="">Have a dream of opening your own business? We believe in you. LendSpace will connect you with lenders who believe in you too.</p>
                                        </li>
                                        <li _ngcontent-c8="" class="why-item">
                                            <div _ngcontent-c8="" class="img-wrapper get-debt-free"></div>
                                            <h3 _ngcontent-c8="">Get Debt Free</h3>
                                            <p _ngcontent-c8="">LendSpace offers access to debt consolidation services which can help you get debt free.</p>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <div _ngcontent-c8="" class="jumbotron jumbotron-fluid d-flex credit-score-safe">
                                <div _ngcontent-c8="" class="container align-self-center">
                                    <h2 _ngcontent-c8="" class="title">Your Credit Score is Safe</h2>
                                    <p _ngcontent-c8="">Being in the dark about your credit score is never a good thing. Using LendSpace, you can check your credit reports as often as you'd like, it won't affect your scores.</p>
                                </div>
                            </div>
                            <section _ngcontent-c8="" class="faq">
                                <div _ngcontent-c8="" class="container">
                                    <div _ngcontent-c8="" class="row">
                                        <div _ngcontent-c8="" class="col-md-6 col-sm-12">
                                            <h2 _ngcontent-c8="" class="yellow-title">How exactly does the process work?</h2>
                                            <p _ngcontent-c8="">LendSpace provides its customers with the financial tools to take on today's world. Whether it is monitoring your credit, getting a credit card or even taking out a loan, LendSpace's goal is to connect you with the lenders that cater to your specific needs.</p>
                                        </div>
                                        <div _ngcontent-c8="" class="col-md-6 col-sm-12">
                                            <div _ngcontent-c8="" id="accordion">
                                                <!---->
                                                <div _ngcontent-c8="" class="card">
                                                    <div _ngcontent-c8="" class="card-header" id="heading-0">
                                                        <h5 _ngcontent-c8="" class="mb-0"><button _ngcontent-c8="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-0" aria-controls="collapse-0"> How quickly will my loan be approved? </button></h5>
                                                    </div>
                                                    <div _ngcontent-c8="" class="collapse in" data-parent="#accordion" id="collapse-0" aria-labelledby="heading-0">
                                                        <div _ngcontent-c8="" class="card-body">
                                                            <p _ngcontent-c8="">Every lender has their own procedures for processing loans. The best way to understand the loan process and the time it will take is to contact the specific lender that you applied for a loan with. They will be able to keep you updated on loan processing times.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-c8="" class="card">
                                                    <div _ngcontent-c8="" class="card-header" id="heading-1">
                                                        <h5 _ngcontent-c8="" class="mb-0"><button _ngcontent-c8="" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-1" aria-controls="collapse-1"> How will I receive responses from lenders? </button></h5>
                                                    </div>
                                                    <div _ngcontent-c8="" class="collapse" data-parent="#accordion" id="collapse-1" aria-labelledby="heading-1">
                                                        <div _ngcontent-c8="" class="card-body">
                                                            <p _ngcontent-c8="">Depending on which lender you chose to work with and your preferences, a lender will contact you through your account, by email, by telephone or by postal mail.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-c8="" class="card">
                                                    <div _ngcontent-c8="" class="card-header" id="heading-2">
                                                        <h5 _ngcontent-c8="" class="mb-0"><button _ngcontent-c8="" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-2" aria-controls="collapse-2"> Does LendSpace&trade; charge me anything for using this service? </button></h5>
                                                    </div>
                                                    <div _ngcontent-c8="" class="collapse" data-parent="#accordion" id="collapse-2" aria-labelledby="heading-2">
                                                        <div _ngcontent-c8="" class="card-body">
                                                            <p _ngcontent-c8="">LendSpace does not charge a fee for its standard services.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-c8="" class="card">
                                                    <div _ngcontent-c8="" class="card-header" id="heading-3">
                                                        <h5 _ngcontent-c8="" class="mb-0"><button _ngcontent-c8="" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-3" aria-controls="collapse-3"> What should I be expecting after I submit my application for a loan? </button></h5>
                                                    </div>
                                                    <div _ngcontent-c8="" class="collapse" data-parent="#accordion" id="collapse-3" aria-labelledby="heading-3">
                                                        <div _ngcontent-c8="" class="card-body">
                                                            <p _ngcontent-c8="">The best way to understand the loan process is to contact the specific lender that you applied for a loan with. They will be able to walk you through the whole process and let you know what to expect.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-c8="" class="card">
                                                    <div _ngcontent-c8="" class="card-header" id="heading-4">
                                                        <h5 _ngcontent-c8="" class="mb-0"><button _ngcontent-c8="" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-4" aria-controls="collapse-4"> Will the lender require any documentation prior to closing on my loan? </button></h5>
                                                    </div>
                                                    <div _ngcontent-c8="" class="collapse" data-parent="#accordion" id="collapse-4" aria-labelledby="heading-4">
                                                        <div _ngcontent-c8="" class="card-body">
                                                            <p _ngcontent-c8="">You're almost there! Most lenders require past pay stubs, bank statements, information on debts and a copy of your tax return. Closing document requirements can vary depending on your location. Be sure to understand your specific lenders closing requirements.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-c8="" class="card">
                                                    <div _ngcontent-c8="" class="card-header" id="heading-5">
                                                        <h5 _ngcontent-c8="" class="mb-0"><button _ngcontent-c8="" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-5" aria-controls="collapse-5"> What is the interest rate? </button></h5>
                                                    </div>
                                                    <div _ngcontent-c8="" class="collapse" data-parent="#accordion" id="collapse-5" aria-labelledby="heading-5">
                                                        <div _ngcontent-c8="" class="card-body">
                                                            <p _ngcontent-c8="">Interest rates vary based on employment, credit history, debt-to-income ratio, etc. Each lender has their own specific requirements that potential consumers need to meet before they can offer their services. LendSpace strives to help connect our consumer's needs with lenders who can fulfill those needs.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section _ngcontent-c8="" class="get-free" id="get-free">
                                <div _ngcontent-c8="" class="container h-100">
                                    <div _ngcontent-c8="" class="row h-100">
                                        <div _ngcontent-c8="" class="col-lg-6 offset-lg-6 col-md-12 align-self-center monitor-your-credit">
                                            <h2 _ngcontent-c8="">Monitor Your Credit, Gain Insight &amp; Make Better Decisions</h2>
                                            <p _ngcontent-c8="">As a LendSpace member, you can view all of your accounts, your last reported balances and even what is affecting your credit scores. You will receive alerts when there is an important change on your reports, learn about what affects your credit scores and what you can do to improve them. In addition, you can see personalized recommendations for ways to use your credit more wisely. LendSpace is here to help you with your financial goals.</p><a _ngcontent-c8="" class="btn btn-outline-dark" href="https://app.lendspace.com/personal-finance/sign-up"> GET YOUR FREE CREDIT SCORE HERE </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section _ngcontent-c8="" class="lend-space-footer text-center">
                                <div _ngcontent-c8="" class="container">
                                    <h4 _ngcontent-c8="">Disclosure</h4>
                                    <p _ngcontent-c8="">LENDSPACE IS NOT A LENDER OR A FINANCIAL INSTITUTION. The LendSpace website does not offer or provide loans, credit card products, and/or credit repair services, but rather, it offers a service to connect consumers to suitable financial institutions who may be able to assist the consumer. It should not be construed as a financial agent or broker. The site does not endorse any financial institutions and does not charge visitors any fees. The LendSpace website may contain affiliate links that may result in a commission. The website owners do not evaluate potential consumer applications, nor do they approve or deny credit. The LendSpace website gathers applicants' personal information and transmits it to financial institutions or affiliates that are part of the site's lending network. No one is required to make use of this website, nor are they under any obligation to begin contact with site operators or to attempt to secure a loan, credit card, or credit scores product with any of the site's financial partners. Some, but not all, lenders may offer loans of up to $35,000, and loans tend to range between $500 and $35,000. Transmission of your financial and personal information on the website in no way obligates financial institutions to offer you a loan or any other kind of credit product. Be aware that cash transfer times can vary, depending on the lender and the bank you use. It may be necessary to fax information under certain circumstances. All questions about loans, credit cards, or credit scores products, and any concerns you may have should be directed to the financial institution you may be connected to. These loans are intended as short-term financial solution to satisfy borrowers' needs for immediate monetary relief. This is not intended to be part of a long-term financial plan for individuals. These services are not offered in all states. Potential borrows may undergo credit check if financial institutions choose to use any of the major credit reporting bureaus, including Equifax, Trans Union and Experian. They may also use other alternative sources to check credit ratings. Your request for a loan constitutes your agreement and acknowledgement that (A) your personal data may be shared with financial institutions, and perhaps other third-party partners, and (B) lenders can acquire credit bureau reports that detail your credit history. Reports from major credit bureaus, such as Equifax, Experian and TransUnion may be obtained and used to evaluate your reliability as a borrower.</p>
                                    <div _ngcontent-c8="" class="logos-wrap text-center d-flex flex-wrap">
                                        <ul _ngcontent-c8="" class="list-unstyled align-self-center">
                                            <li _ngcontent-c8=""><a _ngcontent-c8="" href="#"><img _ngcontent-c8="" alt="Comodo Secure" src="./images/comodo-secure.png"></a></li>
                                            <li _ngcontent-c8=""><a _ngcontent-c8="" href="#"><img _ngcontent-c8="" alt="LendSpace" class="logo-small" src="./images/logo-lend-space.svg"></a></li>
                                            <li _ngcontent-c8=""><a _ngcontent-c8="" href="#"><img _ngcontent-c8="" alt="SSL Secure" src="./images/ssl-secure-1.png"></a></li>
                                        </ul>
                                    </div>
                                    <p _ngcontent-c8="" class="terms">TERMS &amp; CONDITIONS LENDING POLICY LOAN RATES &amp; FEES PRIVACY POLICY UNSUBSCRIBE</p>
                                    <p _ngcontent-c8="" class="copy">Copyright 2018: LendSpace. All Rights Reserved</p>
                                </div>
                            </section>
                        </app-lend-space-dark>
                    </div>
                </main>

            <%- include('./assets/_footer'); %>
        </ng-component>
    </app-root>

    <%- include('./assets/_dialog'); %>
    <%- include('./assets/_google-analitics'); %>
</body>
</html>