<!doctype html>
<html lang="en" dir="ltr">
<head prefix="og: http://ogp.me/ns#">
    <%- partial('./assets/_meta'); %>
    <%- include('./assets/_scripts'); %>
    <%- include('./assets/_login-scripts'); %>
    <%- include('./assets/_favicons'); %>
</head>
<body style="margin: 0;" class="page-header-fixed lend-space m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default pfm lending-page" ng-version="6.0.7">
    <app-root>
        <router-outlet></router-outlet>
        <ng-component _nghost-c0="" class="pfm-app">
            <ng-component _nghost-c10="" class="ng-star-inserted">
                <div _ngcontent-c10="" class="wrapper dark-layout">

                    <%- include('./assets/_header'); %>

                    <main _ngcontent-c10="" class="container-fluid" id="main">
                        <div _ngcontent-c10="" class="row h-100">
                            <div _ngcontent-c10="" class="col text-center left-side">
                                <router-outlet _ngcontent-c10=""></router-outlet>
                                <ng-component _nghost-c11="" class="ng-star-inserted">
                                    <!---->
                                    <ng-component _nghost-c12="" class="ng-tns-c12-0 ng-star-inserted">
                                        <div _ngcontent-c12="" class="ng-tns-c12-0 ng-trigger ng-trigger-routerTransition" style="margin-top: 0px; opacity: 1;">
                                            <h1 _ngcontent-c12="" class="sign-in">Sign in</h1>
                                            <form id="loginForm"_ngcontent-c12="" class="login-form ng-pristine ng-invalid ng-touched" method="post" novalidate="">
                                                <div _ngcontent-c12="" class="form-group icon-input icon-input__user clearfix">
                                                    <input _ngcontent-c12="" class="form-control form-control-solid placeholder-no-fix input-ltr ng-pristine ng-invalid ng-touched" autofocus="" autocomplete="off" name="userNameOrEmailAddress" required="" tabindex="1" type="text" placeholder="Username">
                                                </div>
                                                <div _ngcontent-c12="" class="form-group icon-input icon-input__password clearfix">
                                                    <input _ngcontent-c12="" class="form-control form-control-solid placeholder-no-fix input-ltr ng-untouched ng-pristine ng-invalid" autocomplete="off" maxlength="32" name="password" required="" tabindex="2" type="password" placeholder="Password">
                                                    <a _ngcontent-c12="" class="show-password">SHOW</a>
                                                </div>
                                                <div _ngcontent-c12="" class="form-group clearfix options row">
                                                    <div _ngcontent-c12="" class="col">
                                                        <div _ngcontent-c12="" class="mt-checkbox-list"><label _ngcontent-c12="" class="mt-checkbox mt-checkbox-outline"><input _ngcontent-c12="" class="form-control ng-untouched ng-pristine ng-valid" name="rememberMe" type="checkbox" value="true">Remember me <span _ngcontent-c12="" class="ng-tns-c12-0"></span></label></div>
                                                    </div>
                                                    <div _ngcontent-c12="" class="col"><a _ngcontent-c12="" class="forget-password pull-right" id="forget-password" routerlink="/account/forgot-password" href="https://app.lendspace.com/account/forgot-password"> Forgot password? </a></div>
                                                </div>
                                                <div _ngcontent-c12="" class="form-actions"><button _ngcontent-c12="" class="submit" type="submit" name="submit"> SIGN IN <img _ngcontent-c12="" class="pull-right" alt="right arrow" src="./images/arrow-right-long-icon.svg"></button></div>
                                            </form>
                                            <!---->
                                            <div _ngcontent-c12="" class="login-terms-and-condition">
                                                <span _ngcontent-c12="" class="ng-tns-c12-0">
                                                By continuing you agree to our <a _ngcontent-c12="" class="ng-tns-c12-0" href="terms">Terms of Use</a> and <a _ngcontent-c12="" class="ng-tns-c12-0" href="privacy">Privacy Policy</a>
                                                </span>
                                            </div>
                                        </div>
                                    </ng-component>
                                </ng-component>
                            </div>
                            <div _ngcontent-c10="" class="col h-100 d-none d-lg-block right-side"></div>
                        </div>
                    </main>

                    <%- include('./assets/_footer'); %>
                </div>
            </ng-component>
        </ng-component>
    </app-root>

    <%- include('./assets/_google-analitics'); %>
</body>
</html>